In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

file_to_load="C:/Users/aleja/OneDrive/Bootcamp/projects/project-2/csv files/peds_data.csv"
data = pd.read_csv(file_to_load)
data

,Unnamed: 0,Sensor,Midnight,1am,2am,3am,4am,5am,6am,7am,...,5pm,6pm,7pm,8pm,9pm,10pm,11pm,dailyTotal,avgDaily,data_date
0,0,Bourke Street Mall (North),88.0,34.0,22.0,7.0,10.0,36.0,111.0,330.0,...,3683.0,3013.0,2001.0,1508.0,795.0,420.0,183.0,32841,1368.375000,1/08/2019
1,1,Bourke Street Mall (South),24.0,6.0,12.0,9.0,2.0,7.0,67.0,192.0,...,1765.0,1353.0,753.0,607.0,289.0,103.0,6.0,18174,757.250000,1/08/2019
2,2,Melbourne Central,241.0,143.0,73.0,35.0,34.0,108.0,163.0,332.0,...,2977.0,2965.0,2174.0,2046.0,1762.0,1142.0,570.0,30402,1266.750000,1/08/2019
3,3,Town Hall (West),97.0,42.0,30.0,15.0,32.0,77.0,192.0,489.0,...,3326.0,2769.0,1802.0,1332.0,1096.0,593.0,322.0,32415,1350.625000,1/08/2019
4,4,Princes Bridge,112.0,43.0,16.0,29.0,63.0,116.0,385.0,944.0,...,3195.0,2143.0,1338.0,1026.0,886.0,772.0,334.0,27108,1129.500000,1/08/2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3507,63,Swanston St - City Square,4.0,1.0,4.0,NaN,1.0,8.0,17.0,33.0,...,118.0,68.0,60.0,12.0,13.0,18.0,4.0,992,43.130435,31/08/2020
3508,64,State Library - New,6.0,2.0,2.0,1.0,3.0,10.0,13.0,37.0,...,283.0,246.0,106.0,42.0,20.0,13.0,8.0,2474,103.083333,31/08/2020
3509,65,Flinders Ln - Degraves St (South),NaN,NaN,NaN,NaN,NaN,NaN,15.0,50.0,...,107.0,56.0,27.0,12.0,3.0,NaN,NaN,1267,79.187500,31/08/2020
3510,66,Flinders Ln - Degraves St (North),NaN,NaN,NaN,NaN,NaN,NaN,7.0,36.0,...,30.0,2.0,0.0,0.0,0.0,NaN,NaN,667,41.687500,31/08/2020
3511,67,Flinders Ln - Degraves St (Crossing),NaN,NaN,NaN,NaN,NaN,NaN,5.0,29.0,...,16.0,0.0,0.0,0.0,0.0,NaN,NaN,470,29.375000,31/08/2020

In [58]:
New_df = data[['data_date','dailyTotal']].copy()
New_df

       data_date  dailyTotal
0      1/08/2019       32841
1      1/08/2019       18174
2      1/08/2019       30402
3      1/08/2019       32415
4      1/08/2019       27108
...          ...         ...
3507  31/08/2020         992
3508  31/08/2020        2474
3509  31/08/2020        1267
3510  31/08/2020         667
3511  31/08/2020         470

[3512 rows x 2 columns]

In [136]:
daily_peds_daily=New_df.groupby(['data_date',])['dailyTotal'].sum()
daily_data = daily_peds_daily.reset_index()
daily_data['data_year'] = daily_data['data_date'].str.slice(-4)
daily_data["2019"]= np.nan
daily_data["2020"]= np.nan
daily_data["data_day"]= daily_data["data_date"].str.slice(0,2)
for index, row in daily_data.iterrows():
    if row["data_year"] == "2019":
        val2019 = row["dailyTotal"]
    else:
        daily_data.loc[index, "2019"]= val2019
        daily_data.loc[index, "2020"]= row["dailyTotal"]
        
    day = row["data_day"]

    if day[1] == "/":

            daily_data.loc[index, "data_day"]= "0"+ day[0] 

final = daily_data.query('data_year == "2020"')
final = final[['data_day','2019','2020']].copy()
final = final.sort_values(by ='data_day' )
final.set_index('data_day',inplace=True)
final.to_csv('C:/Users/aleja/OneDrive/Bootcamp/projects/project-2/csv files/DailyTotsByyear.csv')